<%= form_for(@request) do |f| %>

    <div class="form-group">
        <%= f.label :customer_name, "Ваше имя*:" %>
        <%= f.text_field :customer_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :customer_email, "Ваш email*:" %>
        <%= f.email_field :customer_email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :customer_phone_number, "Ваш телефон:" %>
        <%= f.telephone_field :customer_phone_number, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :subject, "Тема обращения*:" %>
        <%= f.text_field :subject, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :message, "Сообщение*:" %>
        <%= f.text_area :message, class: "form-control", rows: 10 %>
    </div>

    <div class="form-group">
        <%= f.submit "Отправить", class: "btn btn-primary" %>
    </div>

<% end %>