<header>
    <nav class="navbar navbar-1 sticky-top navbar-expand-sm navbar-light bg-light pt-5 pb-0 ">
        <ul class="navbar-nav container my-2 ">
            <li class="nav-item ml-2">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="16" height="16"
                    viewBox="0 0 26 26"
                    style="fill:#c0392b;"><g id="surface1"><path style=" " d="M 22.386719 18.027344 C 20.839844 16.703125 19.265625 15.898438 17.738281 17.222656 L 16.824219 18.019531 C 16.15625 18.601563 14.914063 21.3125 10.113281 15.785156 C 5.3125 10.269531 8.167969 9.410156 8.839844 8.835938 L 9.757813 8.035156 C 11.277344 6.710938 10.703125 5.042969 9.605469 3.324219 L 8.945313 2.285156 C 7.84375 0.574219 6.640625 -0.550781 5.117188 0.769531 L 4.292969 1.492188 C 3.617188 1.980469 1.734375 3.578125 1.277344 6.609375 C 0.726563 10.246094 2.464844 14.414063 6.4375 18.984375 C 10.40625 23.558594 14.296875 25.855469 17.976563 25.816406 C 21.035156 25.78125 22.886719 24.140625 23.464844 23.542969 L 24.289063 22.820313 C 25.8125 21.5 24.867188 20.152344 23.316406 18.828125 Z "></path></g>
                </svg>
                8 (8142) 76-43-01
            </li>
            <li class="nav-item e-mail">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="16" height="16"
                    viewBox="0 0 26 26"
                    style="fill:#c0392b;"><g id="surface1"><path style=" " d="M 13 0 C 12.789063 0 12.582031 0.0546875 12.40625 0.1875 C 0 9.382813 0 10.4375 0 11 L 0 23 C 0 24.652344 1.347656 26 3 26 L 23 26 C 24.652344 26 26 24.652344 26 23 L 26 11 C 26 10.4375 25.996094 9.382813 13.59375 0.1875 C 13.417969 0.0546875 13.210938 0 13 0 Z M 5 7 L 21 7 L 21 12.53125 L 25.21875 10.84375 L 17.46875 16.875 L 23.875 23.4375 L 16.0625 17.875 L 13 19.84375 L 9.9375 17.875 L 2.125 23.4375 L 8.53125 16.875 L 0.78125 10.84375 L 5 12.53125 Z M 8 9 L 8 11 L 18 11 L 18 9 Z M 8 12 L 8 14 L 15 14 L 15 12 Z "></path></g>
                </svg>                
                <a href="mailto:guprkmedtehnika@yandex.ru">guprkmedtehnika@yandex.ru</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-2 fixed-top navbar-expand-sm py-0">
        
        <ul class="navbar-nav container d-flex flex-column flex-md-row  justify-content-between">
            <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag("MT_logo.png", alt: "Logo", class: "d-inline-block align-top company-logo") %>
                Медтехника
            <% end %>
            <li class="nav-item py-1">
                <%= link_to "О компании", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item py-1">
                <%= link_to "Контакты", contacts_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown py-1">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукция
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                        <col-md-6>
                            <% @categories_first_h.each do |category| %>
                                <%= link_to category.name, category, class: "dropdown-item" %>
                            <% end %> 
                        </col-md-6>
                        <col-md-6>
                            <% @categories_second_h.each do |category| %>
                                <%= link_to category.name, category, class: "dropdown-item" %>
                            <% end %> 
                        </col-md-6>
                    </div>
                </div>
            </li>
            <li class="nav-item py-1">
                <%= link_to "Online-заявка", new_online_request_path, class: "nav-link" %>
            </li>
            <li class="nav-item py-1">
                <%= link_to "История компании", history_path, class: "nav-link" %>
            </li>
            <% if admin_signed_in? %>
                <li class="py-1">
                    <%= link_to "Панель управления", manager_path, class: "btn btn-sm btn-primary" %>
                </li>
            <% end %>
        </ul>
    </nav>
</header>