<!DOCTYPE html>
<html>
  <head>
    <title>Медтехника</title>
    <%= favicon_link_tag 'MT_logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this layout-->
    <%= stylesheet_link_tag "sb-admin", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom scripts for all pages-->
    <%= javascript_include_tag 'sb-admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
  
    <div class="container">
        <% if flash.any? %>
          <div class="mt-2">
            <%= render 'layouts/flash' %>
          </div>
        <% end %>
        <%= yield %>
    </div>

    <%= render 'devise/shared/footer' %>

  </body>
</html>
