<!DOCTYPE html>
<html>
  <head>
    <title>Медтехника</title>
    <%= favicon_link_tag 'MT_logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template-->
    <%= stylesheet_link_tag "sb-admin", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <%= render 'navbar' %>
  
    <div class="content-wrapper">
      <div class="container-fluid">
        <%= render 'breadcrumb' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'footer' %>

    <!-- Custom scripts for all pages-->
    <%= javascript_include_tag 'sb-admin', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
